<a href="https://colab.research.google.com/github/chetansolanke14/NaturalLanguageProcessing/blob/master/DataAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import Pandas library:

In [0]:
import pandas as pd

Load dataset from the below sources:


https://cdn.skillenza.com/files/b5a59511-dd5f-433d-ae51-3ca32008ce08/on_the_move_sample.zip


https://cdn.skillenza.com/files/00bd4331-5689-4ddc-8400-81159ab69918/on_the_move_test.zip


https://cdn.skillenza.com/files/e86189ac-98c4-459e-8edb-2477121502d4/empty.csv

In [2]:
#!wget https://cdn.skillenza.com/files/b5a59511-dd5f-433d-ae51-3ca32008ce08/on_the_move_sample.zip

--2019-09-27 18:33:21--  https://cdn.skillenza.com/files/b5a59511-dd5f-433d-ae51-3ca32008ce08/on_the_move_sample.zip
Resolving cdn.skillenza.com (cdn.skillenza.com)... 13.224.2.63, 13.224.2.34, 13.224.2.14, ...
Connecting to cdn.skillenza.com (cdn.skillenza.com)|13.224.2.63|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 813 [application/zip]
Saving to: ‘on_the_move_sample.zip’

on_the_move_sample. 100%[===================>]     813  --.-KB/s    in 0s

2019-09-27 18:33:22 (178 MB/s) - ‘on_the_move_sample.zip’ saved [813/813]

In [3]:
#!wget https://cdn.skillenza.com/files/00bd4331-5689-4ddc-8400-81159ab69918/on_the_move_test.zip

--2019-09-27 18:33:48--  https://cdn.skillenza.com/files/00bd4331-5689-4ddc-8400-81159ab69918/on_the_move_test.zip
Resolving cdn.skillenza.com (cdn.skillenza.com)... 13.224.2.63, 13.224.2.34, 13.224.2.14, ...
Connecting to cdn.skillenza.com (cdn.skillenza.com)|13.224.2.63|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2418014 (2.3M) [application/zip]
Saving to: ‘on_the_move_test.zip’

on_the_move_test.zi 100%[===================>]   2.31M  2.03MB/s    in 1.1s

2019-09-27 18:33:50 (2.03 MB/s) - ‘on_the_move_test.zip’ saved [2418014/2418014]

In [4]:
#!wget https://cdn.skillenza.com/files/e86189ac-98c4-459e-8edb-2477121502d4/empty.csv

--2019-09-27 18:34:01--  https://cdn.skillenza.com/files/e86189ac-98c4-459e-8edb-2477121502d4/empty.csv
Resolving cdn.skillenza.com (cdn.skillenza.com)... 13.224.2.63, 13.224.2.34, 13.224.2.14, ...
Connecting to cdn.skillenza.com (cdn.skillenza.com)|13.224.2.63|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 0 [text/csv]
Saving to: ‘empty.csv’

empty.csv               [ <=>                ]       0  --.-KB/s    in 0s

2019-09-27 18:34:02 (0.00 B/s) - ‘empty.csv’ saved [0/0]

In [5]:
#!unzip on_the_move_sample.zip

Archive:  on_the_move_sample.zip
  inflating: Position.csv
  inflating: Solution.csv

In [6]:
#!unzip on_the_move_test.zip

Archive:  on_the_move_test.zip
replace Position.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: r
new name: Position_test.csv
  inflating: Position_test.csv

Create dataframe from the imported data

In [0]:
position = pd.read_csv('Position.csv')
position_test = pd.read_csv('Position_test.csv')
solution =pd.read_csv('Solution.csv')
#sample_sol = pd.read_csv('empty.csv')

In [9]:
position.head()

   position_id  user_id coordinate  unix_timestamp
0            1        8       -2,1      1456704000
1            2        5      -2,-1      1456704046
2            3        6      -2,-2      1456704063
3            4        3        1,0      1456704074
4            5        7        0,2      1456704122

In [10]:
position_test.head()

   position_id  user_id coordinate  unix_timestamp
0            1     1213       -5,6      1400000000
1            2    16229      -2,-7      1400000013
2            3       43        6,2      1400000157
3            4     5101       -2,4      1400000557
4            5     1213    -11,-10      1400000589

In [11]:
solution.head()

   user_id  distance
0        1        13
1        2        13
2        3        30
3        4        20
4        5        33

Created below function to

In [0]:
def position_data(df):
  #Create empty lists for user id and distance of co-ordinate
  distances=[]
  userids =[]
  posn = df['user_id'].unique() #Get all unique userids from the dataframe as a list.

  #Use below for loop to get user id find distance traveled for every user
  for ids,usr in enumerate(posn):
    a=df['coordinate'].where(df["user_id"] ==usr).dropna().values
    x1,y1,dist=0,0,0 #Initialise the variable for initial position of every user as the origin
    userids.append(usr)
    #print(type(x1),type(x2))

    for y in a:
      x2=int(y.split(',')[0])
      y2=int(y.split(',')[1])
      dist_1,dist_2=x1-x2, y1-y2
      dist =abs(dist_1)+abs(dist_2) + dist
      x1,y1 =x2,y2
      #print(x1,type(x2),x2,type(y2),dist_1,dist_2,dist)
    #Append each sum of distances and create a loist from this
    distances.append(dist) 

  #Create dataframe based on user ids and distances list
  d = {'user_id': userids, 'distance': distances} 

  indexs =[x for x in range(len(distances))]
  df = pd.DataFrame(data=d)
  df = df.sort_values('user_id')
  df = df.reset_index(drop=True)
  #return the dataframe 
  return df

In [0]:
#created below function to load data in csv format
def create_sol_file(df,filename):
  df.to_csv(filename, index=False)

In [0]:
#test data on on_the_move sample
train_pos = position_data(position)

In [214]:
print('Check the training data with solution.csv file data loaded : ')
print('='*100)

print("Training Data")
print(train_pos)
print('='*100)

print("Solution file data")
print(solution)

Check the training data with solution.csv file data loaded :
====================================================================================================
Training Data
   user_id  distance
0        1        13
1        2        13
2        3        30
3        4        20
4        5        33
5        6        34
6        7        11
7        8        41
====================================================================================================
Solution file data
   user_id  distance
0        1        13
1        2        13
2        3        30
3        4        20
4        5        33
5        6        34
6        7        11
7        8        41

In [0]:
#check on the testing data
test_pos = position_data(position_test)

In [0]:
create_sol_file(test_pos,'test_solution.csv')

In [210]:
test_pos.head()

   user_id  distance
0        2     91787
1       11     37529
2       13     29146
3       17     24662
4       23     22015